@import url("https://fonts.googleapis.com/css?family=Press+Start+2P&display=swap");

@import url("https://fonts.googleapis.com/css2?family=Questrial&family=Roboto:wght@100&family=Rubik+Moonrocks&family=Smooch&family=Source+Code+Pro:wght@600&display=swap");

* {
  padding: 0;
  margin: 0;
  box-sizing: inherit;
}
html {
  scroll-behavior: smooth;
}

body {
  font-family: "Source Code Pro";
  color: #eee;
  box-sizing: border-box;
  line-height: 2;
  background: #075349;
}

header {
  background-color: #389981;
  padding: 0.5rem;
  font-size: 1.7rem;
  text-align: center;
}

.titulo {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

h1 {
  padding-top: 2rem;
}

img {
  padding-top: 1rem;
}

a {
  color: rgb(255, 255, 255);
  text-decoration: none;
}

.card {
  display: flex;
  flex-wrap: wrap;

  margin-top: 3rem;
  justify-content: center;
  align-items: center;

  flex-direction: column;
  border-radius: 2rem;
  box-shadow: 5px 5px 5px 5px#00000020;

  background-size: auto;
  background-color: rgba(49, 165, 150, 0.445);
}

section#bloco h2 {
  padding-bottom: 1rem;
}

section#bloco.card {
  padding-bottom: 1rem;
}

.baixar {
  display: flex;
  flex-wrap: wrap;

  width: 18rem;
  height: 4rem;
  font-size: 2rem;
  text-shadow: 1px 2.2px 1px rgba(9, 54, 31, 0.623);
  letter-spacing: 1px;
  padding: 0 0 0 25px;
  outline: 0;
  border: 2.5px solid rgb(232, 238, 236);
  color: #fff;
  cursor: pointer;
  position: relative;
  background-color: #ffffff00;
  user-select: none;
  border-radius: 0.7rem;
  z-index: 1;
}

audio {
  padding-bottom: 1rem;
}

.baixar:after {
  content: "";
  background-color: #00c694c4;
  width: 100%;
  z-index: -1;
  position: absolute;
  height: 100%;
  top: 4px;
  left: 4px;
  transition: 0.2s;
  border-radius: 0.7rem;
}

.baixar:hover:after {
  top: 0px;
  left: 0px;
}

footer {
  background-color: #389981;
  width: 100%;
  justify-content: right;
  text-align: center;

  /* Ajusta o footer na parte de baixo da tela */
  bottom: 0;
  position: fixed;
  width: 100%;
  padding: 0.5rem 0rem 0.5rem 0rem;
}
